*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body, html {
    background-image: radial-gradient( circle farthest-corner at 50.3% 44.5%,
    rgba(116,147,179,1) 0%, rgba(62,83,104,1) 100.2% );
    font-family: 'Dosis', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
}

/* Style */


.header {
    padding: 1.5em;
}

#squares-ctn {
    display: grid;
    width: 40em;
    height: 80%;
    margin: 0 auto;
    border: 0.1rem rgba(0, 0, 0, 0.438) solid;
}

.square-block {
    background-color: white;
    border: 1px rgba(0, 0, 0, 0.030) solid;
}

.options-ctn {
    display: flex;
    justify-content: center;
}

.btn-style {
    text-align: center;
    cursor: pointer;
    width: 8rem;
    margin: 2em 0.5em 0 0.5em;
    padding: 0.1em;
    background-color: rgb(125, 146, 163);
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
}

.btn-style:hover {
    background-color: rgb(102, 130, 148);
}

.btn-style-rainbow {
    text-align: center;
    cursor: pointer;
    width: 8rem;
    margin: 2em 0.5em 0 0.5em;
    padding: 0.1em;
    border-radius: 0.5em;
    background-color: rgb(125, 146, 163);
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -ms-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
}

.btn-style-rainbow:hover {
    background: linear-gradient(90deg, rgba(255, 0, 0, 0.521)
     0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%,
      rgba(79, 220, 74, 0.5) 30%, rgba(63, 218, 215, 0.555) 40%,
       rgba(47, 202, 226, 0.507)     50%, rgba(28, 126, 238, 0.507) 60%,
        rgba(95, 21, 242, 0.534) 70%, rgba(185, 12, 248, 0.5)
          80%, rgba(251, 7, 218, 0.493) 90%, rgba(255, 0, 0, 0.507) 100%);
}


.btn-style-rainbow:focus {
    background: linear-gradient(90deg, rgba(255, 0, 0, 0.521)
     0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%,
      rgba(79, 220, 74, 0.5) 30%, rgba(63, 218, 215, 0.555) 40%,
       rgba(47, 202, 226, 0.507)     50%, rgba(28, 126, 238, 0.507) 60%,
        rgba(95, 21, 242, 0.534) 70%, rgba(185, 12, 248, 0.5)
          80%, rgba(251, 7, 218, 0.493) 90%, rgba(255, 0, 0, 0.507) 100%);
}

.btn-style-mono {
    text-align: right;
    cursor: pointer;
    width: 8rem;
    margin: 2em 0.5em 0 0.5em;
    padding: 0.3em;
    background-color: rgb(125, 146, 163);
    border-radius: .5em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    -ms-border-radius: .5em;
    -o-border-radius: .5em;
    transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -ms-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
}

.btn-style-mono:hover {
    background-color: rgb(48, 48, 48);
}


.btn-style-mono:focus {
    background-color: rgb(31, 31, 31);
}

img {
    width: 2em;
}

button {
    margin: 0 2em 0 2em;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1em;
    font-weight: 600;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
    text-decoration: none;
}

button:focus {outline:0;};
